.container-fluid {border-style: solid; border-color: black;}
.list-inline {border-bottom: solid;}
p {background-color: gray;}
.col-md-12 col-sm-6 col-xs-12 {height: 100%;}
.nav navbar-nav {visible-xs}
#ch {background-color: gray;}